:root {
    --overlay-color: rgba(0, 0, 0, 0.5);
    --dark-purple: rgb(108, 15, 151);
    --purple: rgb(183, 17, 216);
    --light-purple: rgb(153, 57, 197);
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    background: radial-gradient(
        circle,
        rgb(34, 34, 34),
        rgb(8, 8, 8)
    );
    min-height: 100%;
    background-attachment: fixed;
}

body {
    text-align: center;
    user-select: none;
}

a {
    text-decoration: none;
    color: var(--purple);
}

a:hover {
    color: var(--light-purple);
}

hr {
    border-bottom: 1px solid rgb(85, 85, 85);
}

button, 
a,
[onclick],
[data-clickable] {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

section {
    margin-top: 15px;
    width: 50%;

    background: radial-gradient(
        circle,
        rgb(51 49 53),
        rgb(45, 43, 48)
        
    );

    height: fit-content;
    display: inline-block;

    border-radius: 30px;

    font-size: 28px;
    padding: 20px;

    color: white;
    text-align: center;
}

section .section-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

section, .links, .project_card, .project_card_img, #logo {
    border: 2px, solid, rgba(255, 255, 255, 0.185);
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: rgb(32, 31, 32);
}

::-webkit-scrollbar-thumb {
    background: rgb(49, 44, 49);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 71, 85);
    border-radius: 6px;
}

@media (max-width: 1280px) {
    section {
        width: 92.5%;
        padding: 15px;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    html {
        background-attachment: scroll;
    }
}
