.popup-overlay {
    position: fixed;
    background-color: var(--overlay-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.project-popup {
    position: absolute;
    overflow-y: auto;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 90%;
    opacity: 1;
    z-index: 999;

    padding: 25px;
}

.project-popup::-webkit-scrollbar {
    display: none;
}

.project-popup__button-container {
    position: relative;
}

.button-container__close-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1%;
    right: 1%;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.button-container__close-button:hover {
    background-color: rgb(27, 27, 27);
}

.button-container__close-button::before,
.button-container__close-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 10%;
    background-color: gray;
    border-radius: 3px;

    transition: background-color 0.3s ease;
}

.button-container__close-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.button-container__close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.project-popup__name {
    font-size: 64px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}


.project-popup__fields {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.project-popup__fields p {
    padding: 0px 0.7%; 
    border-radius: 5px;
    font-size: clamp(10px, 4vw, 24px);
    margin-top: 5px;
    margin-bottom: 5px;

    box-shadow: 2px 8px 16px rgba(0,0,0,0.2);

    transition: transform 0.3s ease;
}

.project-popup__fields p:hover {
    transform: translateY(-1px);
}

.project-popup__project-representation {
    display: flex;
    margin-bottom: 10px;
}


.project-representation__images {
    display: inline-block;
    height: 65%;
    width: 85%;
}

.images__image-panel {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-left: 3%;
}

.image-panel__next-button, .image-panel__previous-button {
    position: relative;
    width: 50px;
    height: 200px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.image-panel__next-button::before,
.image-panel__next-button::after,
.image-panel__previous-button::before,
.image-panel__previous-button::after {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    width: 45px;
    height: 3%;
    background-color: gray;
    border-radius: 3px;

    transition: background-color 0.3s ease;
}

.image-panel__next-button::before {
    transform: translate(-50%, -30px) rotate(45deg);
}

.image-panel__next-button::after {
    transform: translate(-50%, 0) rotate(-45deg);
}

.image-panel__previous-button::before {
    transform: translate(-50%, -30px) rotate(-45deg);
}

.image-panel__previous-button::after {
    transform: translate(-50%, 0) rotate(45deg);
}

/* Close, next and previous buttons on hover */
.image-panel__next-button:hover::before,
.image-panel__next-button:hover::after,
.image-panel__previous-button:hover::before,
.image-panel__previous-button:hover::after,
.button-container__close-button:hover::before,
.button-container__close-button:hover::after { 
    background-color: var(--light-purple);
}


.image-panel__current-image {
    width: 85%;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 2px 8px 16px rgba(0,0,0,0.2);
    object-fit:cover;
}


.images__dots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 5px;
    gap: 10px;

    margin: 15px auto;
}

.dots__dot {
    width: 25px;
    aspect-ratio: 1 / 1;
    background-color: gray;
    box-shadow: 2px 8px 16px rgba(0,0,0,0.2);
    border-radius: 100%;
    border: none;
    cursor: pointer;

    transition: transform 0.3s ease, background-color 0.3s ease;
}


.dots__dot__selected {
    background-color: var(--dark-purple);
    transform: scale(1.15);
}

.project-representation__info {
    height: fit-content;
    width: 30%;
    border: 5px, solid, var(--dark-purple);
    border-radius: 15px;

    font-size: clamp(6px, 3vw, 14px); 

    padding: 15px;
    text-align: left;
    font-size: 24px;
    margin-right: 3%;

    display: inline-block;
}


.project-popup__source {
    display: flex;
    margin-right: auto;
    align-items: center;
    border: 3px, solid, var(--dark-purple);
    border-radius: 15px;
    width: fit-content;
    height: 35px;

    padding: 15px;

    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.project-popup__source img {
    height: 35px;    
}

.project-popup__source:hover {
    transform: translateY(-5px);
    border-color: var(--light-purple);
    box-shadow: 2px 8px 16px rgba(0,0,0,0.2);
}

.project-popup__description {
    text-align: justify;
    text-indent: 1em
}

@media (max-width: 1280px) {
    .project-popup {
        transform: translate(-50%, -51.5%);
        width: 90%;
        height: 95%;
        padding: 10px;
    }
    .project-popup__name {
        font-size: 42px;
        text-align: center;
    }
    .project-popup__fields {
        justify-content: center;
    }
    .project-popup__project-representation {
        flex-direction: column;
        gap: 15px;
    }
    .project-representation__images {
        width: 100%;
        height: fit-content;
    }
    .images__image-panel {
        margin: 0 auto;
    }
    .image-panel__current-image {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .image-panel__next-button, .image-panel__previous-button {
        width: 25px;
        height: 100px;
        margin: 0 auto;
    }
    .image-panel__next-button::before,
    .image-panel__next-button::after,
    .image-panel__previous-button::before,
    .image-panel__previous-button::after { 
        width: 20px;
    }
    .image-panel__next-button::before
    {
        transform: translate(-50%, -12px) rotate(45deg);
    }
    .image-panel__previous-button::before {
        transform: translate(-50%, -12px) rotate(-45deg);
    }
    .project-representation__info{
        width: fit-content;
        padding: 10px;
        align-self: center;
    }
    .project-representation__info p, span {
        margin: 0px;
        font-size: 28px;
    }
    .project-popup__source { 
        height: 20px;
        margin: 0 auto;
    }
}
