.represent__links {
    margin: 2.5%;
    display: flex;
    background: linear-gradient(
        rgb(68, 64, 68),
        rgb(61, 56, 61) 
        );
    width: fit-content;
    border-radius: 15px;
    box-shadow: 2px 8px 16px rgba(0,0,0,0.2);
}

.represent__links a {
    padding: 10px;
    display: flex;
}

.represent__links img {
    height: 35px;

    transition: transform 0.3s ease;
}

.represent__links img:hover {
    transform: scale(1.15);
}

.represent__show-links-button {
    display: none;
}

.represent__profile {
    text-align: left;
    margin: 3%;
    display: flex;
}

.represent__profile h1{
    margin: 0;
}

.info {
    padding: 0px 5%;
    letter-spacing: 5px;
}

#logo {
    width: 30%;
    height: 30%;
    border-radius: 100%;

    box-shadow: 2px 8px 16px rgba(0,0,0,0.2);
    
    transition: width 0.3s ease, height 0.3s ease;

    cursor: pointer;
}

#logo:hover {
    width:35%;
    height:35%;
}

#nickname {
    letter-spacing: 20px;
}

@media (max-width: 1280px) {
    .represent__links {
        position: absolute;
        right: 5%;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        background: linear-gradient(
            rgb(68, 64, 68),
            rgb(61, 56, 61) 
            );
        width: fit-content;
        border-radius: 15px;
        box-shadow: 2px 8px 16px rgba(0,0,0,0.2);
    }
    .represent__links a {
        margin: 2.5% auto;
    }
    .represent__links img {
        height: 70px;
    }
    .represent__profile {
        text-align: center;
        display: inline-block;
    }
    .represent__profile h1{
        margin: 3%;
    }
    #logo {
        width: 60%;
    }
    #logo:hover {
        width:60%;
        height: 60%;
    }
    #nickname {
        letter-spacing: 5px;
    }
}
